books/
       ../../.2-SQL.swp
        ../../.VirtualBox/
        ../../.aa-setup-checker/
        ../../.anaconda/
        ../../.android/
        ../../.atom/
        ../../.bash_history
        ../../.bash_profile
        ../../.bashrc
        ../../.bundle/
        ../../.cache/
        ../../.conda/
        ../../.condarc
        ../../.config/
        ../../.continuum/
        ../../.docker/
        ../../.dotnet/
        ../../.eclipse/
        ../../.gitconfig
        ../../.idlerc/
        ../../.ipynb_checkpoints/
        ../../.ipython/
        ../../.irbrc
        ../../.jupyter/
        ../../.lesshst
        ../../.local/
        ../../.matplotlib/
        ../../.nbi/
        ../../.p2/
        ../../.spyder-py3/
        ../../.tooling/
        ../../.viminfo
        ../../.vscode/
        ../../3D Objects/
        ../../AppData/
        ../../BigDanFouts.java
        ../../Codecademy Machine Learning Engineer Course.ipynb
        ../../Contacts/
        ../../Documents/
        ../01 - Introduction to Algorithms.pdf
        ../01-Introduction to Database Migrations (1).pdf
        ../01-Introduction to Database Migrations.pdf
        ../01-What is a Database.pdf
        ../02 - Introduction to Linear Search.pdf
        ../1 (1).ipynb
        ../16d-collection-016-the-great-muta-90s-red-paint-p10344-30054_image.jpg
        ../2018-07-money-climate-legislation.pdf
        ../59-Functions-mio.mp4
        ../6.080-spring-2008.zip
        ../6.080-spring-2008/
        ../71ea2e20-e3fb-4148-888d-44c92430c955.mp4
        ../741272-gorgerous-lone-wolf-and-cub-hd-wallpaper-1920x1080.jpg
        ../Abril_Fatface (1).zip
        ../Abril_Fatface.zip
        ../AlgorithmsNotesForProfessionals.pdf
        ../Anaconda3-2021.11-Windows-x86_64 (1).exe
        ../Anaconda3-2021.11-Windows-x86_64 (2).exe
        ../Anaconda3-2021.11-Windows-x86_64.exe
        ../Apache-NetBeans-16-bin-windows-x64.exe
        ../AppleStore.csv
        ../Apps_data.tgn
        ../Aptana_Studio_3_Setup (1).exe
        ../Aptana_Studio_3_Setup.exe
        ../AtomSetup-x64 (1).exe
        ../AtomSetup-x64 (2).exe
        ../AtomSetup-x64.exe
        ../Battle Game OOP.zip
        ../Battle Game OOP/
        ../Beginning ASP.NET 2.0 in C-sharp From Novice to Professional - FreePdf-Books.com.pdf
        ../Beginning Ruby 3 From Beginner to Pro by Carleton DiLeo Peter Cooper (z-lib.org).epub
        ../Beginning Ruby 3 From Beginner to Pro by Carleton DiLeo Peter Cooper (z-lib.org).epub.pdf
        ../Beginning_Ruby_3_From_Beginner_to_Pro_by_Carleton_11002058_(z-lib.org).epub
        ../BookBot program.py
        ../Brackets.Release.1.14.2 (1).msi
        ../CPlusPlusNotesForProfessionals.pdf
        ../Chris-Christi--Python-Functions-and-Jupyter-Notebook.pdf
        ../Chris-Christi--Variables,-Data-Types,-and-Lists-in-Python.pdf
        ../ChromeSetup (1).exe
        ../ChromeSetup (2).exe
        ../ChromeSetup (3).exe
        ../ChromeSetup.exe
        ../Complete-Python-Developer-in-2020-Zero-to-Mastery.torrent
        ../Composer-Setup (1).exe
        ../Composer-Setup.exe
        ../ComputerNetworks.pdf
        ../Course Resources - Unity Bootcamp (3D Game Development).zip
        ../Course Resources List.pdf
        ../Courseware-3KEYS.zip
        ../Courseware-3KEYS/
        ../Cpp123uo00es0243.pdf
        ../Cyber Security_ Zero to Mastery.pdf
        ../Cyber Warrior's Command Guide for Ethical Hackers - Shortcut.lnk
        ../Cyber Warrior's Command Guide for Ethical Hackers.zip
        ../Cyber Warrior's Command Guide for Ethical Hackers/
        ../David A. Black - The Well Grounded Rubyist (28 Feb 2019, Manning Publications) - libgen.li.pdf
        ../Dev-Cpp 5.11 TDM-GCC 4.9.2 Setup.exe
        ../DiscordSetup.exe
        ../Docker Desktop Installer.exe
        ../DuckDuckGo (1).appinstaller
        ../DuckDuckGo.appinstaller
        ../EpicInstaller-13.3.0-unrealtournament.msi
        ../F1U2P2_solution (1).zip
        ../F1U2P2_solution.zip
        ../F1U2P2_solution/
        ../FRSTEnglish.exe
        ../Files (1).zip
        ../Files.zip
        ../Free+Course+and+Programming+Guide (1).pdf
        ../Free+Course+and+Programming+Guide.pdf
        ../GP_Hacker_News_Analysis (1).ipynb
        ../GP_Hacker_News_Analysis (2).ipynb
        ../GP_Hacker_News_Analysis (3).ipynb
        ../GP_Hacker_News_Analysis.ipynb
        ../Game_Assets.unitypackage
        ../Git-2.33.0.2-64-bit (1).exe
        ../Git-2.33.0.2-64-bit (10).exe
        ../Git-2.33.0.2-64-bit (11).exe
        ../Git-2.33.0.2-64-bit (2).exe
        ../Git-2.33.0.2-64-bit (3).exe
        ../Git-2.33.0.2-64-bit (4).exe
        ../Git-2.33.0.2-64-bit (5).exe
        ../Git-2.33.0.2-64-bit (6).exe
        ../Git-2.33.0.2-64-bit (7).exe
        ../Git-2.33.0.2-64-bit (8).exe
        ../Git-2.33.0.2-64-bit (9).exe
        ../Git-2.33.0.2-64-bit.exe
        ../Great-Muta-01-768x531.jpg
        ../Guided Project_ Exploring Hacker News Posts (1).ipynb
        ../Guided Project_ Exploring Hacker News Posts (2).ipynb
        ../Guided Project_ Exploring Hacker News Posts (3).ipynb
        ../Guided Project_ Exploring Hacker News Posts.ipynb
        ../Guided Project_ Prison Break (1).tar
        ../Guided Project_ Prison Break.tar
        ../Hacker News Analysis.ipynb
        ../Helicopter Prison Breaks.ipynb
        ../Insomnia.Core-2021.6.0 (1).exe
        ../Insomnia.Core-2021.6.0 (2).exe
        ../Insomnia.Core-2021.6.0.exe
        ../Insomnia_2021-11-15.json
        ../Insomnia_2021-11-16 (1).json
        ../Insomnia_2021-11-16.json
        ../Java-JavaScript123uo00es0317.pdf
        ../LSATSB-Brengun2.jpg
        ../Learning Python with Mammoth Interactive.zip
        ../Learning Python with Mammoth Interactive/
        ../Lesson Slides-20210914.zip
        ../Lesson Slides-20210918.zip
        ../Lesson Slides-20210918/
        ../Lesson Slides-20210923.zip
        ../Lesson Slides-20210923/
        ../Lesson Slides-20211206.zip
        ../Lesson Slides-20211207.zip
        ../Lesson Slides-20211208.zip
        ../LispIDE/
        ../MAMP_MAMP_PRO_5.0.4 (1).exe
        ../MAMP_MAMP_PRO_5.0.4.exe
        ../MB-SupportTool.exe
        ../MBSetup-10789.10789-consumer (1).exe
        ../MBSetup-10789.10789-consumer (2).exe
        ../MBSetup-10789.10789-consumer.exe
        ../Master_2_7a.pdf
        ../Microsoft C-sharp Professional Projects Pdf.zip
        ../Microsoft C-sharp Professional Projects Pdf/
        ../Mineralocorticoid_Receptor_Antagonists_Eplerenone_Spironolactone_in_Heart_Failure_Recommendations_for_Use.doc
        ../Miniconda3-latest-Windows-x86_64.exe
        ../My first html file YAY!!.html
        ../Networking Cheatsheet (1).pdf
        ../Networking Cheatsheet.pdf
        ../New Page
        ../New Page.html
        ../New page.sublime-project
        ../New page.sublime-workspace
        ../Nucamp_assignment1.rar
        ../OWASP Broken Web Apps.vmx
        ../OWASP_Broken_Web_Apps_VM_1.2.7z
        ../OWASP_Broken_Web_Apps_VM_1.2/
        ../PHPNotesForProfessionals.pdf
        ../PhilRaskIsKindaCrazy(OkayHeIsREALLYCrazy).sublime-project
        ../PhilRaskIsKindaCrazy(OkayHeIsREALLYCrazy).sublime-workspace
        ../Portfolio Project_ Final Report and Submission.html
        ../Principles_for_Programers_by_Andrei_Neagoie.pdf
        ../Python Syntax Medical Insurance Project.zip
        ../Report (1) (1) (1).pdf
        ../Report (1) (1).pdf
        ../Report (1).pdf
        ../Report.pdf
        ../SD_CourseOutline.pdf
        ../Screenshot 2021-11-20 105635.png
        ../SectionOutline (1).txt
        ../SectionOutline.txt
        ../SlackSetup (1).exe
        ../SlackSetup.exe
        ../TheWebsiteBaby.sublime-project
        ../TheWebsiteBaby.sublime-workspace
        ../TotalAV_Setup (1).exe
        ../TotalAV_Setup.exe
        ../Triple XXX
        ../Triple XXX.cpp
        ../Triple XXX.exe
        ../TripleXXX.cpp
        ../UnityHubSetup (2)/
        ../VM Ware Player.vmx.lck/
        ../VMware-player-full-16.2.2-19200509.exe
        ../VMware-player-full-17.0.2-21581411 (1) - Copy.exe
        ../VMware-player-full-17.0.2-21581411 (1).exe
        ../VSCodeUserSetup-x64-1.60.0 (1).exe
        ../VSCodeUserSetup-x64-1.60.0 (2).exe
        ../VSCodeUserSetup-x64-1.60.0.exe
        ../VSCodeUserSetup-x64-1.60.1.exe
        ../VelocitySetup-1.2.1.msi
        ../VirtualBox-7.0.8-156879-Win.exe
        ../VisualStudioSetup (1).exe
        ../VisualStudioSetup (2).exe
        ../VisualStudioSetup (3).exe
        ../VisualStudioSetup.exe
        ../WhatsAppSetup.exe
        ../WinAsm5188Full.zip
        ../WinAsm5188Full/
        ../Workspace Home.py
        ../ZoomInstaller.exe
        ../Zoom_cm_fo42pnktZ9vvrZo4_md5F+Mv6SMR8gZUOgHfs5AjbHWWm6Bne2sD76@6S0EIsml5sgeOb64_kbeb518b11e845e5c_.exe
        ../abwsx1.exe
        ../al_al.zip
        ../al_al/
        ../almostX.html
        ../amd-software-adrenalin-edition-23.11.1-minimalsetup-231102_web (1).exe
        ../amd-software-adrenalin-edition-23.11.1-minimalsetup-231102_web.exe
        ../amd_chipset_software_3.10.08.506.exe
        ../amd_chipset_software_5.08.02.027.exe
        ../amd_raid_software_s0i3_2.17.26.314.zip
        ../android-studio-2023.2.1.25-windows.exe
        ../aptana.studio-linux.gtk.x86_64.zip
        ../aptana.studio-linux.gtk.x86_64/
        ../archive.zip
        ../archive/
        ../badges.zip
        ../badges/
        ../battlegame.py (1).ini
        ../battlegame.py.ini
        ../battleship_project (2).zip
        ../battleship_project.zip
        ../battleship_project/
        ../binary+and+hex+number+systems (1).pptx
        ../binary+and+hex+number+systems.pptx
        ../blocks_project.zip
        ../blocks_project/
        ../bootcamp_project (1).zip
        ../bootcamp_project.zip
        ../bootcamp_project/
        ../builtin_shaders-2019.4.40f1 (1).zip
        ../builtin_shaders-2019.4.40f1 (1)/
        ../builtin_shaders-2019.4.40f1.zip
        ../c0a.zip
        ../chapter_2_demos.py
        ../chrome.exe
        ../cli-2.9.tgz
        ../clisp-2.49 (1).tar.bz2
        ../clisp-2.49 (2).tar.bz2
        ../clisp-2.49 (3).tar.bz2
        ../clisp-2.49 (4).tar.bz2
        ../clisp-2.49.tar.bz2
        ../codelite-amd64-17.2.0.exe
        ../cssTime.css
        ../cssTime.sublime-workspace
        ../data-1635972039234.csv
        ../dataquest_invoice_16A6iCTmIX5VpRjcm.pdf
        ../debugging_exercise_1.zip
        ../debugging_exercise_1/
        ../debugging_exercise_2 (1).zip
        ../debugging_exercise_2 (1)/
        ../debugging_exercise_2 (2).zip
        ../debugging_exercise_2 (3).zip
        ../debugging_exercise_2 (3)/
        ../debugging_exercise_2.zip
        ../debugging_exercise_2/
        ../desktop.ini
        ../develop-a-music-player-app-in-c-source-code-included.zip
        ../die_win32_portable_3.08_x86.zip
        ../die_win32_portable_3.08_x86/
        ../die_win64_portable_3.08_x64 (1).zip
        ../die_win64_portable_3.08_x64 (1)/
        ../dog_project (1).zip
        ../dog_project (2).zip
        ../dog_project (2)/
        ../dog_project.zip
        ../dog_project/
        ../dotnet-sdk-3.1.425-win-x64.exe
        ../dotnet-sdk-7.0.100-win-x64 (1).exe
        ../dotnet-sdk-7.0.100-win-x64 (2).exe
        ../dotnet-sdk-7.0.100-win-x64 (3).exe
        ../dotnet-sdk-7.0.100-win-x64 (4).exe
        ../dotnet-sdk-7.0.100-win-x64.exe
        ../eclipse-java-2021-03-R-win32-x86_64 (1).zip
        ../eclipse-java-2021-03-R-win32-x86_64.zip
        ../emacs-27-deps-mingw-w64-src.zip
        ../emacs-27-deps-mingw-w64-src/
        ../emacs-27.2-i686 (1).zip
        ../emacs-27.2-i686 - Copy/
        ../emacs-27.2-i686.zip
        ../emacs-27.2-i686/
        ../er_diagram (1).drawio
        ../er_diagram.drawio
        ../er_diagram_today
        ../er_diagram_today (1)
        ../exercise1 (1).txt
        ../exercise1 (2).txt
        ../exercise1-SOLUTIONS.txt
        ../exercise1.txt
        ../first html css project.sublime-project
        ../first html css project.sublime-workspace
        ../gh_2.49.0_windows_amd64.msi
        ../github-cloning-practice/
        ../go1.20.5.windows-amd64.msi
        ../googleplaystore.csv
        ../guessing_game_project.zip
        ../guessing_game_project/
        ../gvim82 (1).exe
        ../gvim82.exe
        ../hands-data-structures-algorithms-rust.rar
        ../hangman_project (2).zip
        ../hangman_project.zip
        ../hangman_project/
        ../hello_docker_django_vscode (1).zip
        ../hello_docker_django_vscode (1)/
        ../hello_docker_django_vscode.zip
        ../hello_docker_django_vscode/
        ../hotel_project (2).zip
        ../hotel_project.zip
        ../hotel_project/
        ../https%3a%2f%2fcygwin.mirror.constant.com%2f/
        ../im_ext_min_pent_up_audio.ra
        ../index (1).html
        ../index (2).html
        ../index (3).html
        ../index.html
        ../index.js
        ../index.sublime-workspace
        ../jdk-11.0.17_windows-x64_bin.exe
        ../jdk-16.0.1_windows-x64_bin (1).exe
        ../jdk-16.0.1_windows-x64_bin.exe
        ../kali-linux-2023.1-installer-amd64.iso
        ../kali-linux-2023.1-installer-netinst-amd64 - Shortcut.lnk
        ../kali-linux-2023.1-installer-netinst-amd64.iso
        ../learn-the-four-swift-patterns-i-swear-by/
        ../learning-algorithms.zip
        ../learning-datastructures (1).zip
        ../learning-datastructures.zip
        ../liteidex38.2.win64-qt5.15.2.zip
        ../liteidex38.2.win64-qt5.15.2/
        ../los-angeles-ca-23rd-mar-2022-kate-kennedy-at-the-season-one-paramount-premiere-of-halo-at-the-hollywood-legion-theater-in-los-angeles-california-on-march-23-2022-credit-faye-sadoumedia-punchalamy-live-news-2J1AGRH.jpg
        ../main.rb
        ../mastermind_project.zip
        ../mastermind_project_new.zip
        ../mastermind_project_new/
        ../mb-support-1.8.7.918.exe
        ../metasploitable-linux-2.0.0.zip
        ../metasploitable-linux-2.0.0/
        ../mingw-get-setup (1).exe
        ../mingw-get-setup (2).exe
        ../mingw-get-setup.exe
        ../mission-427-project-learn-and-install-jupyter-notebook-takeaways.pdf
        ../mission-612-project-learn-and-install-jupyter-notebook-takeaways.pdf
        ../mission-648-python-functions-returning-multiple-variables-and-function-scopes-takeaways.pdf
        ../models (1).py
        ../models.py
        ../moma_viz (1).py
        ../moma_viz (2).py
        ../moma_viz (3).py
        ../moma_viz.py
        ../monkey_patching_project.zip
        ../monkey_patching_project/
        ../mutations.sql
        ../newpage.html
        ../package.json
        ../per.jpg
        ../php-8.1.2-nts-Win32-vs16-x64.zip
        ../php-8.1.2-nts-Win32-vs16-x64/
        ../practicepython (1).py
        ../practicepython.py
        ../procs_project (1).zip
        ../procs_project (2).zip
        ../procs_project (2)/
        ../procs_project.zip
        ../procs_project/
        ../project - Shortcut.lnk
        ../project.zip
        ../project/
        ../project_files.zip
        ../project_files/
        ../pycharm-community-2022.1.exe
        ../pycharm-community-2023.2.1 - Shortcut.lnk
        ../pycharm-community-2023.2.1.exe
        ../python-3.9.4-amd64 (1).exe
        ../python-3.9.4-amd64 (10).exe
        ../python-3.9.4-amd64 (2).exe
        ../python-3.9.4-amd64 (3).exe
        ../python-3.9.4-amd64 (4).exe
        ../python-3.9.4-amd64 (5).exe
        ../python-3.9.4-amd64 (6).exe
        ../python-3.9.4-amd64 (7).exe
        ../python-3.9.4-amd64 (8).exe
        ../python-3.9.4-amd64 (9).exe
        ../python-3.9.4-amd64.exe
        ../python-3.9.7-amd64.exe
        ../queries.sql
        ../readme (1).md
        ../readme.md
        ../recursion_exercise.zip
        ../recursion_exercise/
        ../register.html
        ../rpsnc_game_portfolio_project (1) (1).py
        ../rpsnc_game_portfolio_project (1).py
        ../rpsnc_game_portfolio_project (1).zip
        ../rpsnc_game_portfolio_project (10).zip
        ../rpsnc_game_portfolio_project (11).zip
        ../rpsnc_game_portfolio_project (12).zip
        ../rpsnc_game_portfolio_project (13).zip
        ../rpsnc_game_portfolio_project (14).zip
        ../rpsnc_game_portfolio_project (15).zip
        ../rpsnc_game_portfolio_project (16).zip
        ../rpsnc_game_portfolio_project (17).zip
        ../rpsnc_game_portfolio_project (18).zip
        ../rpsnc_game_portfolio_project (19).zip
        ../rpsnc_game_portfolio_project (2).zip
        ../rpsnc_game_portfolio_project (20).zip
        ../rpsnc_game_portfolio_project (21).zip
        ../rpsnc_game_portfolio_project (3).zip
        ../rpsnc_game_portfolio_project (3)/
        ../rpsnc_game_portfolio_project (4).zip
        ../rpsnc_game_portfolio_project (5).zip
        ../rpsnc_game_portfolio_project (6).zip
        ../rpsnc_game_portfolio_project (7).zip
        ../rpsnc_game_portfolio_project (8).zip
        ../rpsnc_game_portfolio_project (9).zip
        ../rpsnc_game_portfolio_project.py
        ../rpsnc_game_portfolio_project.zip
        ../ruby-data-structures-and-algorithms.pdf
        ../rubyinstaller-devkit-3.1.3-1-x64.exe
        ../rust-course-data/
        ../s!Atcae8NyerUTgchj1QVoa5numAhaDQ[1]
        ../s!Atcae8NyerUTgchj1QVoa5numAhaDQ[1] (1)
        ../setup-x86_64.exe
        ../snapshot_2023-09-02_14-31.zip
        ../snapshot_2023-09-02_14-31/
        ../spotify_clone (1).sql
        ../spotify_clone (2).sql
        ../spotify_clone. (1).drawio
        ../spotify_clone. (1).svg
        ../spotify_clone. (2).drawio
        ../spotify_clone. (3).drawio
        ../spotify_clone. (4).drawio
        ../spotify_clone. (5).drawio
        ../spotify_clone..drawio
        ../spotify_clone..svg
        ../spotify_clone.sql
        ../spyder-2.2.0.win-amd64.exe
        ../sqlite-dll-win64-x64-3400000.zip
        ../sqlite-dll-win64-x64-3400000/
        ../sqlite-tools-win32-x86-3400000.zip
        ../sqlite-tools-win32-x86-3400000/
        ../startup_project.zip
        ../startup_project/
        ../style.css
        ../styles.css
        ../sublime_text_build_4126_x64_setup.exe
        ../submission.zip
        ../th-1418532010
        ../triplex.cpp
        ../triplex.exe
        ../tweets.py
        ../users (1).py
        ../users (2).py
        ../users (3).py
        ../users.py
        ../using-the-ruby-language-as-a-programming-environment-for-a-robotics-lab-based-class (1).pdf
        ../using-the-ruby-language-as-a-programming-environment-for-a-robotics-lab-based-class (2).pdf
        ../using-the-ruby-language-as-a-programming-environment-for-a-robotics-lab-based-class.pdf
        ../vdoc.pub_clean-code-a-handbook-of-agile-software-craftmanship.epub
        ../vite.config.js
        ../vs_BuildTools.exe
        ../vs_community__bd2b352c44ff4438a946b401c6054b40.exe
        ../webi/
        ../week_2_workshop_student_assignments (1).zip
        ../week_2_workshop_student_assignments.zip
        ../winrar-x64-621.exe
        ../workshop (1).sql
        ../workshop (2).sql
        ../workshop (3).sql
        ../workshop.sql
        ../workshop2 (1).zip
        ../workshop2 (2).zip
        ../workshop2 (3).zip
        ../workshop2 (4).zip
        ../workshop2 project.zip
        ../workshop2.zip
        ../workshop3 (2).zip
        ../workshop5 (1).py
        ../workshop5 (2).py
        ../workshop5 (3).py
        ../workshop5 (4).py
        ../workshop5 (5).py
        ../workshop5 (6).py
        ../workshop5 (7).py
        ../workshop5.py
        ../workspace.code-workspace
        ../write-reusable-javascript-with-functions.txt
        ../wsl_update_x64.msi
        ../zerotomastery.io-golang (2)/
        ../../Favorites/
        ../../HelloProgrammer.java
        ../../HelloProgrammers.java
        ../../HelloWorld.java
        ../../Links/
        ../../MicrosoftEdgeBackups/
        ../../Music/
        ../../My project (1)/
        ../../My project (10)/
        ../../My project (11)/
        ../../My project (12)/
        ../../My project (13)/
        ../../My project (14)/
        ../../My project (15)/
        ../../My project (2)/
        ../../My project (3)/
        ../../My project (4)/
        ../../My project (5)/
        ../../My project (6)/
        ../../My project (7)/
        ../../My project (8)/
        ../../My project (9)/
        ../../My project/
        ../../NTUSER.DAT{addc867a-c8e1-11eb-ac24-f274d4189f65}.TM.blf
        ../../NTUSER.DAT{addc867a-c8e1-11eb-ac24-f274d4189f65}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{addc867a-c8e1-11eb-ac24-f274d4189f65}.TMContainer00000000000000000002.regtrans-ms
        ../../New folder/
        ../../OneDrive/.849C9593-D756-4E56-8D6E-42412F2A707B
        ../../OneDrive/Desktop/
        ../../OneDrive/Documents/
        ../../OneDrive/Getting started with OneDrive.pdf
        ../../OneDrive/Microsoft Edge.lnk
        ../../OneDrive/Personal Vault.lnk
        ../../OneDrive/Pictures/
        ../../OneDrive/Workspaces/Workspace1/
        ../../OneDrive/Workspaces/Workspace2/
        ../../OneDrive/Workspaces/Workspace3/.cache/
        ../../OneDrive/Workspaces/Workspace3/.codelite/
        ../../OneDrive/Workspaces/Workspace3/.ctagsd/
        ../../OneDrive/Workspaces/Workspace3/Makefile
        ../../OneDrive/Workspaces/Workspace3/Workspace3.workspace
        ../../OneDrive/Workspaces/Workspace3/Workspace3/.clang-format
        ../../OneDrive/Workspaces/Workspace3/Workspace3/.clangd
        ../../OneDrive/Workspaces/Workspace3/Workspace3/TripleX.cpp
        ../../OneDrive/Workspaces/Workspace3/Workspace3/Workspace3.mk
        ../../OneDrive/Workspaces/Workspace3/Workspace3/Workspace3.project
        ../../OneDrive/Workspaces/Workspace3/Workspace3/main.c
        ../../OneDrive/Workspaces/Workspace3/build-Debug/
        ../../OneDrive/Workspaces/Workspace3/compile_commands.json
        ../../OneDrive/Workspaces/Workspace3/triplex.cpp/
        ../../OneDrive/desktop.ini
        ../../OneDrive/nasm.exe
        ../../Project1/
        ../../PycharmProjects/
        ../../RubyOnRailsAndJavaNigga.java
        ../../Saved Games/
        ../../Searches/
        ../../Space 101/
        ../../Space Shoot/
        ../../Space Shooter  Pro/
        ../../Space Shooter Alpha/
        ../../Space Shooter Begin/
        ../../Space Shooter Beta/
        ../../Space Shooter Gamma/
        ../../Space Shooter On/
        ../../Space Shooter One/
        ../../Space Shooter P/
        ../../Space Shooter Pr/
        ../../Space Shooter Pro/
        ../../Space Shooter _1/
        ../../Space Shooter/
        ../../TheGreatMuta.java
        ../../Untitled1.ipynb
        ../../Videos/
        ../../VirtualBox VMs/
        ../../anaconda3/
        ../../eclipse-workspace/
        ../../eclipse/
        ../../fundaBlog/
        ../../github/
        ../../go/
        ../../hello/
        ../../hello_cli.txt
        ../../homework.bat
        ../../newshit.bat
        ../../nirectory_name/
        ../../ntuser.dat
        ../../ntuser.dat.log1
        ../../ntuser.dat.log2
        ../../ntuser.dat{80f515e3-8731-11ed-ac5c-a4fc770ceffd}.TM.blf
        ../../ntuser.dat{80f515e3-8731-11ed-ac5c-a4fc770ceffd}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{80f515e3-8731-11ed-ac5c-a4fc770ceffd}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.dat{ebafb74b-7d51-11ee-ac9f-a4fc770ceffd}.TxR.0.regtrans-ms
        ../../ntuser.dat{ebafb74b-7d51-11ee-ac9f-a4fc770ceffd}.TxR.1.regtrans-ms
        ../../ntuser.dat{ebafb74b-7d51-11ee-ac9f-a4fc770ceffd}.TxR.2.regtrans-ms
        ../../ntuser.dat{ebafb74b-7d51-11ee-ac9f-a4fc770ceffd}.TxR.blf
        ../../ntuser.dat{ebafb74c-7d51-11ee-ac9f-a4fc770ceffd}.TM.blf
        ../../ntuser.dat{ebafb74c-7d51-11ee-ac9f-a4fc770ceffd}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{ebafb74c-7d51-11ee-ac9f-a4fc770ceffd}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.dat{f417dd1a-72b1-11ee-ac9b-a4fc770ceffd}.TxR.0.regtrans-ms
        ../../ntuser.dat{f417dd1a-72b1-11ee-ac9b-a4fc770ceffd}.TxR.1.regtrans-ms
        ../../ntuser.dat{f417dd1a-72b1-11ee-ac9b-a4fc770ceffd}.TxR.2.regtrans-ms
        ../../ntuser.dat{f417dd1a-72b1-11ee-ac9b-a4fc770ceffd}.TxR.blf
        ../../ntuser.dat{f417dd1b-72b1-11ee-ac9b-a4fc770ceffd}.TM.blf
        ../../ntuser.dat{f417dd1b-72b1-11ee-ac9b-a4fc770ceffd}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{f417dd1b-72b1-11ee-ac9b-a4fc770ceffd}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.dat{fb00443c-4436-11ee-ac8c-a4fc770ceffd}.TxR.0.regtrans-ms
        ../../ntuser.dat{fb00443c-4436-11ee-ac8c-a4fc770ceffd}.TxR.1.regtrans-ms
        ../../ntuser.dat{fb00443c-4436-11ee-ac8c-a4fc770ceffd}.TxR.2.regtrans-ms
        ../../ntuser.dat{fb00443c-4436-11ee-ac8c-a4fc770ceffd}.TxR.blf
        ../../ntuser.dat{fb00443d-4436-11ee-ac8c-a4fc770ceffd}.TM.blf
        ../../ntuser.dat{fb00443d-4436-11ee-ac8c-a4fc770ceffd}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{fb00443d-4436-11ee-ac8c-a4fc770ceffd}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.ini
        ../../open
        ../../run.bat
        ../../soles
        ../../source/
        ../../test/
        ../../using_editors/
        ../../workspace/